[context.production]
  [[context.production.headers]]
    for = "/*"
    [context.production.headers.values]
      X-Robots-Tag = "all"

[context.deploy-preview]
  [[context.deploy-preview.headers]]
    for = "/*"
    [context.deploy-preview.headers.values]
      X-Robots-Tag = "noindex"
